.video-js {
    width: 300px;
    height: 150px;
}

.vjs-fluid:not(.vjs-audio-only-mode) {
    padding-top: 56.25%;
}

.vjs_video_3-dimensions {
    width: 1920px;
    height: 1080px;
}

.vjs_video_3-dimensions.vjs-fluid:not(.vjs-audio-only-mode) {
    padding-top: 56.25%;
}

.ReactFlagsSelect-module_flagsSelect__2pfa2 {
    position: relative;
    vertical-align: inherit;
    padding-bottom: 5px;
    text-align: left;
}

.ReactFlagsSelect-module_flagsSelectInline__cUnnz {
    display: inline-block;
}

.ReactFlagsSelect-module_selectBtn__19wW7 {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    font-family: inherit;
    color: #4d4d4d;
    border: thin solid rgba(77, 77, 77, 0.3);
    border-radius: 4px;
    background: transparent;
}

.ReactFlagsSelect-module_selectBtn__19wW7:after,
.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded='true']:after {
    content: ' ';
    width: 0;
    height: 0;
    display: inline-block;
    margin-left: 5px;
}

.ReactFlagsSelect-module_selectBtn__19wW7:after {
    border-top: 5px solid #4d4d4d;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
}

.ReactFlagsSelect-module_selectBtn__19wW7[aria-expanded='true']:after {
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #4d4d4d;
}

.ReactFlagsSelect-module_disabledBtn__3A4GF {
    background: #eaeaea;
    cursor: default;
}

.ReactFlagsSelect-module_label__27pw9,
.ReactFlagsSelect-module_secondaryLabel__37t1D {
    font-size: 1em;
    padding-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ReactFlagsSelect-module_secondaryLabel__37t1D {
    color: #707070;
    padding-left: 5px;
}

.ReactFlagsSelect-module_selectValue__152eS,
.ReactFlagsSelect-module_selectOption__3pcgW {
    cursor: pointer;
    padding: 0 8px;
    margin: 4px 0;
    white-space: nowrap;
}

.ReactFlagsSelect-module_selectValue__152eS {
    pointer-events: none;
    display: flex;
    align-items: center;
}

.ReactFlagsSelect-module_selectOption__3pcgW {
    padding: 2px 18px;
}

.ReactFlagsSelect-module_selectOption__3pcgW:hover,
.ReactFlagsSelect-module_selectOption__3pcgW:focus {
    outline: none;
    background: #eaeaea;
}

.ReactFlagsSelect-module_selectFlag__2q5gC {
    display: inline-flex;
    font-size: 1.2em;
}

.ReactFlagsSelect-module_selectOptionValue__vS99- {
    display: flex;
    align-items: center;
}

.ReactFlagsSelect-module_selectOptionWithlabel__2GpmM {
    padding: 4px 10px;
}

.ReactFlagsSelect-module_selectOptions__3LNBJ {
    position: absolute;
    z-index: 999999;
    border: 1px solid #bdbbbb;
    border-radius: 3px;
    background: #ffffff;
    margin-top: 8px;
    padding: 8px 0;
    max-height: 180px;
    overflow: auto;
}

.ReactFlagsSelect-module_selectOptionsWithSearch__1W03w {
    padding: 0 0 8px 0;
}

.ReactFlagsSelect-module_fullWidthOptions__1XeR6 {
    right: 0;
    left: 0;
}

.ReactFlagsSelect-module_alignOptionsToRight__3Qvq2 {
    right: 0;
}

.ReactFlagsSelect-module_filterBox__3m8EU {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 8px;
    background: #ffffff;
}

.ReactFlagsSelect-module_filterBox__3m8EU input {
    width: calc(100% - 20px);
    margin: 0 10px;
    padding: 8px;
    box-sizing: border-box;
}

.ReactFlagsSelect-module_filterBox__3m8EU input:focus {
    outline: none;
}

#chatWidget {
    height: 75px;
    width: 75px;
}

#chatWidget.minimize-chat {
    transform: translateY(calc(100% - 35px));
    transition: height 0.3s ease-in-out;
}

#chatWidget.maximize-chat {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}