@import "@sass/abstracts/vars";
@import "@sass/abstracts/mixins";

.news-grid.col-4 {
    @media only screen and (max-width: 640px){
        width: 100%;
    }
    @media only screen and (max-width: 768px){
        width: 50%;
    }
}

.filter-row {
    text-align: center;
    padding: 15px;
}

.dropdown-filter {
    padding: 4px;
    margin: 0 10px;
}

.promo {
    background: $promo-bg;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    >.component-content {
        position: relative;
        @include clearfix();
        border: none;

        >div {
            padding: 5px;
        }
    }
    .zg-height-fix {
        .field-promoicon {
            margin-top: 100px;
        }
    }
    .field-promoicon {
        overflow: hidden;
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .field-promolink {
        margin-top: 5px;
        padding-bottom: 10px;
    }
    &.image-full-size {
        img {
            margin-bottom: 10px;
        }
    } 

    .field-promoicon-list{
        width: 25%;
        img{
            width: -webkit-fill-available;
            padding-right: 10px;
        }
    }
    .promo-text-list{
        width: 75%;
    }
    .component-content-list{
        display: flex;
        padding-bottom: 15px;
    }

    .news-teaser-link{
        position: relative;
        display: block;
    }

    .news-teaser-background-image{
        width: 100%;
        height: auto;
    }

    .news-teaser-text{
        position: absolute;
        left: 0;
        bottom: 0;
        color: white;
        background: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0.02));
        padding: 40px 20px 15px 20px;
        width: 100%;
        .news-teaser-date{
            display: inline-block;
        }
        .news-teaser-tag{
            display: inline-block;
        }
        .news-teaser-title{
            display: block;
        }
    }

    .title-field-tag{
        width: 208px;
        text-align: center;
        // color: white;
        font-size: 1.2rem;
        line-height: 1.08;
        padding: 5px 15px;
    } 
    
    .title-field-tag[id~=Company]{
        background: #5E6575;
    }
    .title-field-tag[id~=Production]{
        background: #827D60;
    }
    .title-field-tag[id~=Products]{
        background: #906A89;
    }
    .title-field-tag[id~=Investors]{
        background: #608082;
    }
    .title-field-tag[id~=Other]{
        background: #67746A;
    }

    @import "@sass/variants/promo";
    @import "@sass/base/richtext/richtext";
}

.promo-image-left {
    .promo-image-left-container{
        display: flex;
    }
    background: $promo-bg;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    >.component-content {
        position: relative;
        @include clearfix();

        >div {
            padding: 5px;
        }
    }
    .zg-height-fix {
        .field-promoicon {
            margin-top: 100px;
        }
    }
    .field-promoicon {
        overflow: hidden;
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .promo-text {
        margin: auto;
        text-align: center;
        width: 50%;
    }
    .field-promotext {
        h3{
            font-size: 3em;
        }
    }
    .field-promolink {
        margin-top: 25px;
        padding-bottom: 10px;
        a{
            color: black;
            text-decoration: none;
            border: 1px black solid;
            padding: 10px 15px;
            border-radius: 5px;
        }
    }
    &.image-full-size {
        img {
            margin-bottom: 10px;
        }
    }
    @import "@sass/variants/promo";
    @import "@sass/base/richtext/richtext";
}

.promo-image-right {
    .promo-image-right-container{
        display: flex;
    }
    background: $promo-bg;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    >.component-content {
        position: relative;
        @include clearfix();

        >div {
            padding: 5px;
        }
    }
    .zg-height-fix {
        .field-promoicon {
            margin-top: 100px;
        }
    }
    .field-promoicon {
        overflow: hidden;
        width: 50%;
        img {
            width: 100%;
            height: auto;
        }
    }
    .promo-text {
        margin: auto;
        text-align: center;
        width: 50%;
    }
    .field-promotext {
        h3{
            font-size: 3em;
        }
    }
    .field-promolink {
        text-align: center;
        margin-top: 25px;
        padding-bottom: 10px;
        a{
            color: black;
            text-decoration: none;
            border: 1px black solid;
            padding: 10px 15px;
            border-radius: 5px;
        }
    }
    &.image-full-size {
        img {
            margin-bottom: 10px;
        }
    }
    @import "@sass/variants/promo";
    @import "@sass/base/richtext/richtext";
}