<!DOCTYPE html>
<html itemscope="" lang="en">
   <head>
      <title>BerryAlloc</title>
      <meta http-equiv="content-type" content="text/html; charset=utf-8" />
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <!-- Google Tag Manager -->
      <script>
         window.dataLayer = window.dataLayer || [];
         window.dataLayer.push({"event":"hitInfo","pageLang":"en","pageGeo":"Global","userIp":"158.132.30.130","page_type":"siteroot"});
         
         (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
         })(window, document, 'script', 'dataLayer', 'GTM-TKPNQ44');
      </script>
      <!-- End Google Tag Manager -->
      <meta name="google-site-verification" content="" />
      <meta itemprop="server-info" content="RD0003FF1CCB43" />
      <meta itemprop="product-version" content="2.0 ScBase.Package.91.Release_20240315.2" />
      <meta itemprop="site" content="BerryAlloc-BerryAlloc" />
      <meta itemprop="source-version" content="68452d84aeebbaa3c914fe3986a4636a53ae587e" />
      <meta itemprop="page-id" content="{6832F48F-70EA-4623-8CEC-FE154D268688}" />
      <meta itemprop="page-template" content="Site Root" />
      <meta itemprop="page-templateid" content="{DF75F9F7-33BD-4433-B607-6D139A63E2C4}" />
      <link rel="alternate"
         href="https://www.berryalloc.com/be/nl"
         hreflang="nl-BE">
      <link rel="alternate"
         href="https://www.berryalloc.com/be/fr"
         hreflang="fr-BE">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="cs-CZ">
      <link rel="alternate"
         href="https://www.berryalloc.com/dk/da"
         hreflang="da-DK">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="de-DE">
      <link rel="alternate"
         href="https://www.berryalloc.com/es/es"
         hreflang="es-ES">
      <link rel="alternate"
         href="https://www.berryalloc.com/fr/fr"
         hreflang="fr-FR">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="en">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="en-GB">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="it-IT">
      <link rel="alternate"
         href="https://www.berryalloc.com/nl/nl"
         hreflang="nl-NL">
      <link rel="alternate"
         href="https://www.berryalloc.com/no/nb"
         hreflang="nb-NO">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="en">
      <link rel="alternate"
         href="https://www.berryalloc.com/pl/pl"
         hreflang="pl-PL">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="ru-RU">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="en">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="fi-FI">
      <link rel="alternate"
         href="https://www.berryalloc.com/se/sv"
         hreflang="sv-SE">
      <link rel="alternate"
         href="https://www.berryalloc.com/global/en"
         hreflang="tr-TR">
      <link rel="canonical" href="https://www.berryalloc.com/global/en" />
      <meta name="description" content="BerryAlloc&#174; makes you feel at home. Laminate, parquet, vinyl planks &amp; tiles: our extensive collections have a flooring solution that is just right for you." />
      <link rel="icon" href="/-/media/sites/berryalloc/general/logo/favicon.ashx?rev=c2390a29c9594b9ba3f0eead78204b53" type="image/x-icon" />
      <link href="/bundles/css/BerryAlloc-BerryAlloc.css?v=75oh6EXb68w8Bv-jOJmu-qZZ9fDPk5zQue_zbUzXpoM1" rel="stylesheet"/>
      <!-- Application Insights -->
      <script type="text/javascript">
         var appInsights=window.appInsights||function(config){
             function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
         }({
             instrumentationKey:"b2ef9889-629c-4672-9092-6ba8f881fc92"
         });
         
         window.appInsights=appInsights;
         appInsights.trackPageView();
      </script>
      <!-- End Application Insights -->
      <!-- Facebook Pixel Code -->
      <script>
         !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                 n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
             n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
             t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
             document,'script','https://connect.facebook.net/en_US/fbevents.js');
         
         fbq('init', '328832388585599');
         fbq('track', "PageView");
      </script>
      <noscript>
         <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=328832388585599&ev=PageView&noscript=1" />
      </noscript>
      <!-- End Facebook Pixel Code -->
      <script>
         (function (d, id) {
             if (!window.flowbox) { var f = function () { f.q.push(arguments); }; f.q = []; window.flowbox = f; }
             if (d.getElementById(id)) { return; }
             var s = d.createElement('script'), fjs = d.scripts[d.scripts.length - 1]; s.id = id; s.async = true;
             s.src = ' https://connect.getflowbox.com/flowbox.js';
             fjs.parentNode.insertBefore(s, fjs);
         })(document, 'flowbox-js-embed');
      </script>
      <link rel="apple-touch-icon" href="/Modules/Projects/BerryAlloc/_Shared/img/apple-touch-icon.png">
   </head>
   <body>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TKPNQ44" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->    
      <div class="container-fluid">
      <div class="header">
         <header class="component component-berryalloc-header" data-component-class="Dlw.ScBase.Beaulieu.Header" data-component-parm="null" data-webid="Dlw.ScBase.Beaulieu.Header">
            <!-- <nav class="navigation">
               <div class="navigation-container">
                  <div class="navigation-top">
                     <div class="container">
                        <form action="/global/en/search" autocomplete="off" class="form search" method="get">    <input type="text" autocomplete="off" name="search" placeholder="search" />
                           <button class="font-smoothing" data-search-translation="search" data-submit-translation="submit" type="submit" value="search"><i class="fa fa-search"></i></button>
                        </form>
                        <ul class="navigation-top-menu">
                           <li class=" navigation-top-menu-item">
                              <a href="/global/en/floorfit" target="" title="Floorfit" class="font-smoothing">
                              Floorfit
                              </a>
                           </li>
                           <li class=" navigation-top-menu-item">
                              <a href="/global/en/contact" target="" title="contact us" class="font-smoothing">
                              contact us
                              </a>
                           </li>
                        </ul>
                        <a class="navigation-top-menu-item--highlight item-highlight-default" data-js="js-dealer" href="/global/en/dealers">
                        find a dealer
                        <span class="fa fa-map-marker"></span>
                        </a>
                        <a href="/global/en/location" class="navigation-top-menu-item--highlight item-highlight-default" data-webid="header-language-picker">
                        Global
                        </a>
                     </div>
                  </div>
                  <div class="navigation-bottom">
                     <div class="container">
                        <a class="navigation-bottom-brand" href="/global/en">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="js-lazyload" alt="Berryalloc" data-src="/-/media/sites/berryalloc/general/logo/berryalloc-logo_resized.ashx?rev=ba135e6c6f844df59e8fb3f34ac4df2f&amp;h=100&amp;w=500&amp;la=en&amp;hash=A4E1A0B17A210ECA922D9C5BF3F5C17C" />
                        </a>
                        <ul class="navigation-bottom-menu">
                           <li class="has-submenu navigation-bottom-menu-item">
                              <a href="/global/en" target="" title="products" class="">
                              products
                              </a>
                              <ul class="navigation-bottom-submenu">
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/laminate" target="" title="laminate">laminate</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/high-pressure-floors" target="" title="high pressure floors">high pressure floors</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/parquet" target="" title="parquet">parquet</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/vinyl-planks" target="" title="vinyl planks">vinyl planks</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/strong-wood-floors" target="" title="strong wood floors">strong wood floors</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/walls" target="" title="walls">walls</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/accessories" target="" title="accessories">accessories</a>
                                 </li>
                              </ul>
                           </li>
                           <li class="has-submenu navigation-bottom-menu-item">
                              <a href="#" target="" title="inspiration" class="">
                              inspiration
                              </a>
                              <ul class="navigation-bottom-submenu">
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/blog" target="" title="blog">blog</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/community" target="" title="community">community</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/harmony-lab" target="" title="Harmony Lab">Harmony Lab</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/references" target="" title="references">references</a>
                                 </li>
                              </ul>
                           </li>
                           <li class="has-submenu navigation-bottom-menu-item">
                              <a href="/global/en/type-of-flooring" target="" title="which type of floor?" class="">
                              which type of floor?
                              </a>
                              <ul class="navigation-bottom-submenu">
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/laminate" target="" title="why laminate?">why laminate?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/high-pressure-floors" target="" title="why high pressure floors?">why high pressure floors?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/strong-wood-floors" target="" title="Why Strong wood floors?">Why Strong wood floors?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/parquet" target="" title="why parquet?">why parquet?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/live-vinyl-planks" target="" title="why live vinyl planks?">why live vinyl planks?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/pure-vinyl-planks" target="" title="why pure vinyl planks?">why pure vinyl planks?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/spirit-vinyl-planks" target="" title="why spirit vinyl planks?">why spirit vinyl planks?</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/type-of-flooring/walls" target="" title="why walls?">why walls?</a>
                                 </li>
                              </ul>
                           </li>
                           <li class="has-submenu navigation-bottom-menu-item">
                              <a href="/global/en/support" target="" title="customer care &amp; downloads" class="">
                              customer care & downloads
                              </a>
                              <ul class="navigation-bottom-submenu">
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/support/installation-maintenance" target="" title="installation &amp; maintenance">installation &amp; maintenance</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/support/download" target="" title="download section">download section</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/support/faq" target="" title="FAQ">FAQ</a>
                                 </li>
                                 <li class="navigation-bottom-menu-subitem">
                                    <a class="" href="/global/en/support/imagebank" target="" title="image bank &#128272;">image bank &#128272;</a>
                                 </li>
                              </ul>
                           </li>
                           <li class=" navigation-bottom-menu-item">
                              <a href="https://berryalloc.com/floorfit?roomvoAutoStart=true" target="_blank" title="visualise in your interior" class="">
                              visualise in your interior
                              </a>
                           </li>
                           <li class=" navigation-bottom-menu-item">
                              <a href="/global/en/sustainability" target="" title="sustainability" class="">
                              sustainability
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </nav>
            <div class="navigation-mobile hidden-md hidden-lg">
               <div class="container">
                  <a class="navigation-bottom-brand" href="/global/en">
                  <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="js-lazyload" alt="Berryalloc" data-src="/-/media/sites/berryalloc/general/logo/berryalloc-logo_resized.ashx?rev=ba135e6c6f844df59e8fb3f34ac4df2f&amp;h=100&amp;w=500&amp;la=en&amp;hash=A4E1A0B17A210ECA922D9C5BF3F5C17C" />
                  </a>
                  <a class="hamburger" href="#"><i class="fa fa-bars"></i></a>
                  <a class="dealer" data-js="js-dealer" href="/global/en/dealers"><i class="fa fa-map-marker"></i></a>
                  <a class="search" href="#"><i class="fa fa-search"></i></a>
               </div>
            </div>
            <div class="search-mobile">
               <form Class="form search" action="/global/en" autocomplete="off" method="post">
                  <input id="scController" name="scController" type="hidden" value="BeaulieuHeader" /><input id="scAction" name="scAction" type="hidden" value="SiteSearch" />            <input type="text" autocomplete="off" name="search" placeholder="search" />
                  <input data-search-translation="search" data-submit-translation="submit" type="submit">
                  <div class="clearfix">&nbsp;</div>
               </form>
            </div> -->
         </header>
      </div>
      <div id="cntnt" class=" siteroot">
         <div class="row">
            <div class="container">
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-bottom-15 ">
                  <div data-component-class="Dlw.ScBase.Website.Slider" data-component-parm="{&quot;enableSwiping&quot;:false}" data-webid="Dlw.ScBase.Website.Slider">
                     <div id="slider" class="carousel slide component-slider js-component-slider" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators js-carousel-indicators">
                           <li data-target="#slider" data-slide-to="0" class="active"></li>
                           <li data-target="#slider" data-slide-to="1" class=""></li>
                           <li data-target="#slider" data-slide-to="2" class=""></li>
                           <li data-target="#slider" data-slide-to="3" class=""></li>
                           <li data-target="#slider" data-slide-to="4" class=""></li>
                           <li data-target="#slider" data-slide-to="5" class=""></li>
                           <li data-target="#slider" data-slide-to="6" class=""></li>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                           <div class="item active">
                              <img src="/-/media/sites/berryalloc/general/senses/headersenses4.ashx?rev=6b972f4060de4a4db88b461edecbb37c" alt="Discover our strong wood floors " loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">Discover our strong wood floors </h2>
                                       <p class="carousel-text"></p>
                                       <a href="/global/en/strong-wood-floors" class="btn btn-carousel" target="">find out more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item ">
                              <img src="/-/media/sites/berryalloc/header-1410x650/ba_banner_homepage_dpl2023_1410x650.ashx?rev=826ebdb0eb3243f0a3e9f33641de5b87" alt="discover our laminate floors" loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">discover our laminate floors</h2>
                                       <p class="carousel-text">Premium quality floors for a lifetime of joy.</p>
                                       <a href="/global/en/laminate" class="btn btn-carousel" target="">Find out more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item ">
                              <img src="/-/media/sites/berryalloc/home-page-pics/ber_floorfit_2022_webbanner_1410x650.ashx?rev=bebd197603d54f539d428093b5a3de8e" alt="discover Floorfit" loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">discover Floorfit</h2>
                                       <p class="carousel-text">Find a floor that fits you</p>
                                       <a href="/global/en/floorfit" class="btn btn-carousel" target="">Find out more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item ">
                              <img src="/-/media/sites/berryalloc/header-1410x650/ba_banner_dreamclick_1410x650.ashx?rev=674883ffac2d4fbeb4f42d67def56412" alt="discover our vinyl planks and tiles" loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">discover our vinyl planks and tiles</h2>
                                       <p class="carousel-text">A floor for your home, your life</p>
                                       <a href="/global/en/vinyl-planks" class="btn btn-carousel" target="">find out more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item ">
                              <img src="/-/media/sites/berryalloc/header-1410x650/hpf_website-banner_1410x650.ashx" alt="discover our high pressure floors" loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">discover our high pressure floors</h2>
                                       <p class="carousel-text">The world's strongest floors</p>
                                       <a href="/global/en/high-pressure-floors" class="btn btn-carousel" target="">find out more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item ">
                              <img src="/-/media/sites/berryalloc/header-1410x650/ba_banner_pqt_-1410x650.ashx?rev=e8527822989e40e08c3fa30392d474ae" alt="discover our parquet collections" loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">discover our parquet collections</h2>
                                       <p class="carousel-text"></p>
                                       <a href="/global/en/parquet" class="btn btn-carousel" target="">find out more </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="item ">
                              <img src="/-/media/sites/berryalloc/header-1410x650/ba_banner_harmony-lab_-1410x650.ashx?rev=5fd29fad363046298b9930f43f49e4b1" alt="discover Harmony Lab" loading="lazy"/>
                              <div class="carousel-caption">
                                 <div class="display-table center">
                                    <div class="display-table-cell">
                                       <h2 class="carousel-title">discover Harmony Lab</h2>
                                       <p class="carousel-text"></p>
                                       <a href="/global/en/harmony-lab" class="btn btn-carousel" target="">Find out more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <!-- Controls-->
                        <a class="left carousel-control js-carousel-control" href="#slider" role="button" data-slide="prev">
                        <span class="carousel-control-left" aria-hidden="true"></span>
                        <span class="sr-only">#Previous#</span>
                        </a>
                        <a class="right carousel-control js-carousel-control" href="#slider" role="button" data-slide="next">
                        <span class="carousel-control-right" aria-hidden="true"></span>
                        <span class="sr-only">#Next#</span>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                     <div class="margin-bottom-15 ">
                        <a href="/global/en/laminate" class="component component-cta-small">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="" data-src="/-/media/sites/berryalloc/home-page-pics/homepage-button-laminate.ashx?rev=e04ea610e04946a08de60d93bf26693f&amp;h=1729&amp;w=3063&amp;la=en&amp;hash=2CFDFF6EB82A9031D9009D8E8D4DEEAB" />
                           <div class="display-table center js-equal-cta-small" style="background-color:#9FB3B1;">
                              <div class="display-table-cell">
                                 <h3 class="cta-title">laminate</h3>
                                 <p class="cta-text">Durable & surprising <br> Close your eyes and imagine your dream floor</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                     <div class="margin-bottom-15 ">
                        <a href="/global/en/high-pressure-floors" class="component component-cta-small">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="" data-src="/-/media/sites/berryalloc/home-page-pics/productgroups_hpf.ashx?rev=84ba1f67fdb94a978126e22cdf64f41d&amp;h=1729&amp;w=3063&amp;la=en&amp;hash=CB582AA71AE1ADF4AD58678F4C7B00AB" />
                           <div class="display-table center js-equal-cta-small" style="background-color:#83787F;">
                              <div class="display-table-cell">
                                 <h3 class="cta-title">high pressure floors</h3>
                                 <p class="cta-text">The perfect marriage between design and durability.<br>They are the toughest on the market and can stand up to high traffic.</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                     <div class="margin-bottom-15 ">
                        <a href="/global/en/parquet" class="component component-cta-small">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="" data-src="/-/media/sites/berryalloc/home-page-pics/productgroups_pqt.ashx?rev=b3c8627a671b47699b062443a54d1ee8&amp;h=1729&amp;w=3063&amp;la=en&amp;hash=5CE771D912311F849BE7609405E1BFD7" />
                           <div class="display-table center js-equal-cta-small" style="background-color:#CDC8BF;">
                              <div class="display-table-cell">
                                 <h3 class="cta-title">parquet</h3>
                                 <p class="cta-text">The natural choice<br>Create warm spaces with a simple natural touch</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                     <div class="margin-bottom-15 ">
                        <a href="/global/en/vinyl-planks" class="component component-cta-small">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="" data-src="/-/media/sites/berryalloc/home-page-pics/productgroups_lvt.ashx?rev=b7286cbf69404789913b81d0176af7cc&amp;h=1729&amp;w=3063&amp;la=en&amp;hash=253164B3311C68FBD01B83EAAD309DEA" />
                           <div class="display-table center js-equal-cta-small" style="background-color:#B6B9AB;">
                              <div class="display-table-cell">
                                 <h3 class="cta-title">vinyl planks & tiles</h3>
                                 <p class="cta-text">A modern classic <br> Add softness and style to your home</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                     <div class="margin-bottom-15 ">
                        <a href="/global/en/walls" class="component component-cta-small">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="Walls" data-src="/-/media/sites/berryalloc/home-page-pics/walls-product-line-icon_737x415.ashx?rev=53d5c4f9441e4f99b088f645a99f0ec4&amp;h=415&amp;w=737&amp;la=en&amp;hash=DB2EEF8E1C87CC48AE07FD0E37639CC4" />
                           <div class="display-table center js-equal-cta-small" style="background-color:#A6AEB9;">
                              <div class="display-table-cell">
                                 <h3 class="cta-title">wall panels</h3>
                                 <p class="cta-text">Transform your home <br> Enjoy a new look for your bathroom or kitchen in no time</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                     <div class="margin-bottom-15 ">
                        <a href="/global/en/strong-wood-floors" class="component component-cta-small">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="" data-src="/-/media/sites/berryalloc/general/senses/sensescta.ashx?rev=3eb7d0957a8a4c29a1cac9e71a5d00da&amp;h=537&amp;w=830&amp;la=en&amp;hash=D2FDAA3ED59C0023AEBA242540FCB103" />
                           <div class="display-table center js-equal-cta-small" style="background-color:#C49B87;">
                              <div class="display-table-cell">
                                 <h3 class="cta-title">strong wood floors</h3>
                                 <p class="cta-text">Beautiful oak wood veneer floors for maximum strength</p>
                              </div>
                           </div>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-top-45 margin-bottom-45  padding-top-50 padding-bottom-50">
                  <div class="component-berryalloc-product-finder-banner">
                     <div class="container">
                        <div class="row">
                           <div class="col-xs-12 col-sm-5 col-md-5">
                              <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==?h=500" alt="Take a moment to imagine the right floor in your home." class="js-lazyload" data-src="/-/media/sites/berryalloc/home-page-pics/floorfit_homepagecta.ashx?rev=b7aed5818a4a4bd49aa4732bf550a4d3&amp;h=500&amp;w=552&amp;la=en&amp;hash=220A49B1A09CFDA57BF9434B322274DA" />
                           </div>
                           <div class="col-xs-12 col-sm-7 col-md-7">
                              <div class="text-container js-equal-column" style="height: 500px;">
                                 <h3 class="title">Take a moment to imagine the right floor in your home.</h3>
                                 <div class="description">
                                    <p>
                                    <p><span style="background-color: #ffffff; color: #333333;">Looking for a new interior and want to get inspired?&nbsp;</span><span style="background-color: #ffffff; color: #333333;">Choose between our laminate, vinyl planks &amp; tiles, high pressure floors, or parquet and upload any room in your house &ndash; whether it's a living room, kitchen, bedroom, bathroom, Floorfit will guide you to a floor that&rsquo;s made for you.</span></p>
                                    </p>
                                 </div>
                                 <a href="https://berryalloc.com/floorfit?roomvoAutoStart=true" target="_blank" class="btn btn-primary">take me to Floorfit</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-top-50 margin-bottom-50  padding-top-50 padding-bottom-50">
                  <div class=" cta-left">
                     <a href="/global/en/harmony-lab" class="component component-cta">
                        <div class="component-cta__media">
                           <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" alt="" data-src="/-/media/sites/berryalloc/home-page-pics/homepage-website-harmony-lab-1410x500v3.ashx?rev=ecc37d00c96d48068993165f05b68d13&amp;h=3428&amp;w=8192&amp;la=en&amp;hash=64ECDC77C387C0BF0CC0DA83523C967F" />
                        </div>
                        <div class="component-cta__content display-table center js-equal-cta" style="">
                           <div class="display-table-cell">
                              <h3 class="cta-title">
                                 Bring harmony into your home
                              </h3>
                              <p class="underscore">__</p>
                              <p class="cta-text">
                                 BerryAlloc’s Harmony Lab will guide you to a flooring choice that is complementary to what you choose to implement in your interior.<br><br>Discover more!<br><br>
                              </p>
                           </div>
                        </div>
                     </a>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class="component component-html">
                  <style type="text/css">
                  </style>
                  <div style="margin-bottom: 50px"></div>
                  <script type="text/javascript"></script>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-top-50 margin-bottom-50  padding-top-50 padding-bottom-50">
                  <div class="">
                     <div id="anchor">
                        <div class="row  margin-top-50 margin-bottom-50  padding-top-50 padding-bottom-50">
                           <div class="col-xs-12 col-md-6">
                              <div class=" cta-left">
                                 <a href="/global/en/about-us" class="component component-cta">
                                    <div class="component-cta__media">
                                       <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" alt="" data-src="/-/media/sites/berryalloc/cta-small-737x415/cta-homepage-contact-us-700x500.ashx?rev=7965a68018d842f8917b3feecd103f67&amp;h=500&amp;w=700&amp;la=en&amp;hash=51048992A2369AE80F5CB8C9C8BFD666" />
                                    </div>
                                    <div class="component-cta__content display-table center js-equal-cta" style="">
                                       <div class="display-table-cell">
                                          <h3 class="cta-title">
                                             Get to know BerryAlloc®
                                          </h3>
                                          <p class="underscore">__</p>
                                          <p class="cta-text">
                                             BerryAlloc® offers a wide array of interior solutions for residential and commercial projects, ranging from laminate, vinyl and parquet floors to wall panels.
                                          </p>
                                       </div>
                                    </div>
                                 </a>
                              </div>
                           </div>
                           <div class="col-xs-12 col-md-6">
                              <div class=" cta-left">
                                 <a href="/global/en/sustainability" class="component component-cta">
                                    <div class="component-cta__media">
                                       <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" alt="" data-src="/-/media/sites/berryalloc/cta-small-737x415/cta-homepage-sustainability-700x500.ashx?rev=ba85328b2ed24309ab81bbe6cf09ce12&amp;h=500&amp;w=700&amp;la=en&amp;hash=B6F6E9F970A98AC4964C0CB3378EABAE" />
                                    </div>
                                    <div class="component-cta__content display-table center js-equal-cta" style="">
                                       <div class="display-table-cell">
                                          <h3 class="cta-title">
                                             Sustainability
                                          </h3>
                                          <p class="underscore">__</p>
                                          <p class="cta-text">
                                             At BerryAlloc, sustainability is an integral part of our DNA, from management practices to our production processes. We are devoted to continuously reducing our impact and building a healthier environment. <br><br>Discover more!
                                          </p>
                                       </div>
                                    </div>
                                 </a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-top-50 margin-bottom-50  padding-top-50 padding-bottom-50">
                  <div class="component component-content-block">
                     <h2><br>Tag your pictures with #myBerryAlloc</h2>
                     <p>Inspire and be inspired, from one unique floor to another. Tag your pictures with #myBerryAlloc and you might see your floor here.</p>
                     <div class="taggbox" style="width:100%;height:250px" data-widget-id="148252" data-tags="false" ></div>
                     <script src="https://widget.taggbox.com/embed-lite.min.js" type="text/javascript"></script>
                     >
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-top-50 margin-bottom-50  padding-top-50 padding-bottom-50">
                  <div class="component component-html">
                     <style type="text/css">
                     </style>
                     <div class="component-berryalloc-product-finder-banner" style="text-align: center;"><a style="margin:0;" href="https://www.berryalloc.com/nl/nl/community" target="" class="btn btn-primary">See More Inspiration</a></div>
                     <script type="text/javascript"></script>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-bottom-15 ">
                  <div class="component component-content-block">
                     <h2><br> <br> follow us on Instagram @berryalloc</h2>
                     <div class="taggbox" style="width:100%;height:250px" data-widget-id="145992" data-tags="false" ></div>
                     <script src="https://widget.taggbox.com/embed-lite.min.js" type="text/javascript"></script>
                     >
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="container">
               <div class=" margin-top-15 ">
                  <div data-component-class="Dlw.ScBase.Website.DealerLocatorTeaser" data-component-parm="null" data-webid="Dlw.ScBase.Website.DealerLocatorTeaser">
                     <div class="component component-berryalloc-dealer-locator-small">
                        <img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" class="img-responsive js-lazyload" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1;" alt="Dealer locator" data-src="/-/media/sites/berryalloc/general/banners/dealerlocatorsmall.ashx?rev=57340ddd271b4234957e624edd6a9b04&amp;h=667&amp;w=5875&amp;la=en&amp;hash=B10B0B852CDE30DB60D99B3E45DF8D88" />
                        <form Class="form" action="/global/en" method="post"><input id="scController" name="scController" type="hidden" value="DealerLocatorTeaser" /><input id="scAction" name="scAction" type="hidden" value="RedirectToDealerPage" />        <input type="text" name="location" id="location" placeholder="zip code, location, ...">
                           <input class="font-smoothing" id="btnSearchDealer" data-js="dealerTeaser" type="submit" value="search dealer" />
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="component component-html">
            <style type="text/css">
            </style>
            <div hidden>
               <p>TP 2235748</p>
            </div>
            <script type="text/javascript"></script>
         </div>
      </div>
      <div data-id="footer">
         <div class="row">
            <div class="container">
               <footer class="component component-berryalloc-footer">
                  <!-- <div class="footer-top">
                     <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                           <h5>Why BerryAlloc?</h5>
                           <ul>
                              <li>
                                 <a href="/global/en/about-us" >about us</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/sustainability" >sustainability</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/contact" >contact us</a>                                
                              </li>
                              <li>
                                 <a href="https://careers.bintg.com/?locale=en_GB" target="_blank" >careers</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/blog" >blog</a>                                
                              </li>
                           </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                           <h5>Products</h5>
                           <ul>
                              <li>
                                 <a href="/global/en/strong-wood-floors" >strong wood floors</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/laminate" >laminate</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/high-pressure-floors" >high pressure floors</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/parquet" >parquet</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/vinyl-planks" >vinyl planks &amp; tiles</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/walls" >walls</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/accessories/laminate-accessories" >accessories</a>                                
                              </li>
                           </ul>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                           <h5>Customer Care &amp; Downloads</h5>
                           <ul>
                              <li>
                                 <a href="/global/en/support/installation-maintenance" >installation and maintenance</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/support/download" >download section</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/support/faq" >frequently asked questions</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/support/glossary" >glossary</a>                                
                              </li>
                              <li>
                                 <a href="/global/en/support/imagebank" >image bank &#128272; (professionals)</a>                                
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="footer-bottom">
                     <div class="row">
                        <div class="col-xs-12 col-sm-6 subscribe">
                           <a class="font-smoothing" href="https://mediacenter.bintg.com/api/wedia/dam/variation?object=blicomrelasset&amp;id=6&amp;variation=original" target="_blank">cookie policy</a>
                           <a class="font-smoothing" href="https://mediacenter.bintg.com/api/wedia/dam/variation?object=blicomrelasset&amp;id=40&amp;variation=original" target="_blank">privacy policy</a>
                           <a class="font-smoothing" href="https://bintg.whispli.com/lp/speakup?locale=en" target="">Raise a concern</a>
                        </div>
                        <div class="col-xs-12 col-sm-6 social text-right">
                           <ul>
                              <li>stay connected:</li>
                              <li>
                                 <a href="https://www.facebook.com/BerryAlloc/?ref=bookmarks" title="" target="_Blank">
                                 <i class="" aria-hidden="true"></i>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://www.instagram.com/berryalloc/" title="" target="_Blank">
                                 <i class="" aria-hidden="true"></i>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://www.pinterest.com/BerryAlloc/" title="" target="_Blank">
                                 <i class="" aria-hidden="true"></i>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://www.youtube.com/user/BerryAlloc" title="" target="_Blank">
                                 <i class="" aria-hidden="true"></i>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://twitter.com/BerryAlloc" title="" target="_Blank">
                                 <i class="" aria-hidden="true"></i>
                                 </a>
                              </li>
                              <li>
                                 <a href="https://www.linkedin.com/company/berryalloc-nv" title="" target="_Blank">
                                 <i class="" aria-hidden="true"></i>
                                 </a>
                              </li>
                           </ul>
                           <a class="btag" href="https://www.bintg.com/">
                           <img src="/-/media/sites/berryalloc/home-page-pics/beaulieu-tag.ashx?rev=48af7db1330549e08d2a5f262137d56e" alt="beaulieu international group">
                           </a>
                        </div>
                     </div>
                  </div> -->
               </footer>
            </div>
         </div>
      </div>
      <!-- Needed to get visitor identifiation working -->
      <script src="/bundles/js/BerryAlloc-BerryAlloc-basic.js?v=MHu7bI5UxwyC88duN9shyMC3F38-qMzfKsDTJ5uW7xg1"></script>
      <script src="/bundles/js/BerryAlloc-BerryAlloc-component.js?v=EVFHnxQrLYAqYUCVaDnGs0B7h_beDCuXVbV6qpZCg2o1"></script>
      <script type="text/javascript" src="https://cdn.roomvo.com/static/scripts/b2b/berryalloc.js" async></script>
      <!-- release jQuery $ variable to avoid sitecore pageeditor js errors (prototype) -->
      <script>
         if (window.jQuery) {
             jQuery.noConflict();
         }
      </script>
   </body>
</html>